<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&display=swap" rel="stylesheet">
<style>
#mobile-display  {
    padding: 40px 32px 12px 32px;
}
#mobile-display * {
  font-family: 'Poppins', sans-serif;
}

#mobile-display h1, #mobile-display  h2, #mobile-display  h3 {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  margin: 0;
}

#mobile-display > *:first-child img {
    border-radius: 0;
    margin: -40px -32px 0px -32px;
    width: calc(100% + 64px) !important;
}

#mobile-display h4, #mobile-display h5, #mobile-display h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

#mobile-display img {
  width: 100%;
  border-radius: 20px;
}

#mobile-display blockquote {
    background-color: #5F6CAF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 16px 20px 16px 44px;
    position: relative;
    margin: 4px -32px 12px -32px;

}

#mobile-display blockquote:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 32px;
    bottom: 12px;
    width: 2px;
    background-color: #FFFFFF;
}

#mobile-display address {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
}

#mobile-display p { 
  font-size: 14px;
  line-height: 20px;
}
</style>